.contacts__header {
  margin-top: 0;
  margin-bottom: 0;
}

.contacts__title {
  margin-top: 0;
  margin-bottom: 0;
}

.contacts__text {
  margin-top: 0;
  margin-bottom: 0;
}

.contacts__link {
  color: #d22856;
  text-decoration: none;
}

.contacts__link:hover,
.contacts__link:focus {
  color: @dark-blue;
  text-decoration: underline;
}

.contacts__link:active {
  color: #bec2c7;
  text-decoration: none;
}

.contacts__map {
  display: block;
  position: absolute;
}

.contacts__interactive-map {
  order: 2;
}

.contacts__map-marker {
  position: absolute;
  order: 1;
}

.contacts--map-hidden .contacts__map-marker {
  display: none;
}

@media @mobile-only {
  .contacts {
    width: @mobile-width;
    text-align: center;
    position: relative;
  }

  .contacts__header {
    position: relative;
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    margin-top: 43px;
    margin-bottom: 32px;
  }

  .contacts__main-container {
    padding-bottom: 20px;
  }

  .contacts__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
  }

  .contacts__text {
    position: relative;
    z-index: 3;
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    color: #d22856;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .contacts__image-triangle {
    position: absolute;
    z-index: 3;
    left: 0;
    bottom: 153px;
    width: @mobile-width;
    fill: #ffffff;
  }

  .contacts__interactive-map {
    width: @mobile-width;
    height: 200px;
    background-image: url("../img/bg-map-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: center -445px;
  }

  .contacts__map-marker {
    position: absolute;
    bottom: 70px;
    left: 142px;
  }

  @media @retina {
    .contacts__interactive-map {
      background-image: url("../img/bg-map-mobile@2x.jpg");
    }
  }
}

@media @tablet-only {
  .contacts {
    width: @tablet-width;
    text-align: center;
    position: relative;
    margin-bottom: 7px;
  }

  .contacts__header {
    position: relative;
    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 46px;
    margin-bottom: 40px;
  }

  .contacts__main-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 66px;
    margin-bottom: 28px;
  }

  .contacts__container {
    &--phone {
      margin-right: 99px;
    }

    &--adress {
      margin-left: 139px;
      width: 250px;
    }
  }

  .contacts__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;

    &--phone {
      margin-bottom: 2px;
    }

    &--email {
      margin-bottom: 4px;
    }

    &--adress {
      margin-top: 42px;
      margin-bottom: 5px;
    }
  }

  .contacts__text {
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    color: #d22856;
  }

  .contacts__image-triangle {
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 305px;
    background-color: transparent;
    width: 100%;
    height: 70px;
    fill: #ffffff;
  }

  .contacts__interactive-map {
    width: @tablet-width;
    height: 374px;
    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -346px;
  }

  .contacts__map-marker {
    position: absolute;
    bottom: 145px;
    left: 312px;
  }

  @media @retina {
    .contacts__interactive-map {
      background-image: url("../img/bg-map-tablet@2x.jpg");
    }
  }
}

@media @desktop-only {
  .contacts {
    width: @desktop-width;
    text-align: center;
    position: relative;
    margin-bottom: 12px;
  }

  .contacts__header {
    position: relative;
    font-size: 50px;
    font-weight: 300;
    line-height: 60px;
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 65px;
    margin-bottom: 52px;
  }

  .contacts__main-container {
    display: flex;
    margin-left: 57px;
    margin-bottom: 44px;
  }

  .contacts__container {
    &--phone {
      order: 1;
      margin-right: 93px;
    }

    &--email {
      order: 3;
    }

    &--adress {
      order: 2;
      margin-right: 74px;
      width: 250px;
    }
  }

  .contacts__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;

    &--phone {
      margin-bottom: 21px;
    }

    &--email {
      margin-bottom: 23px;
    }

    &--adress {
      margin-bottom: 21px;
    }
  }

  .contacts__text {
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    color: #d22856;
  }

  .contacts__image-triangle {
    position: absolute;
    width: @desktop-width;
    z-index: 2;
    left: 0;
    bottom: 367px;
    height: 126px;
    fill: #ffffff;
  }

  .contacts__interactive-map {
    width: @desktop-width;
    height: 480px;
    background-image: url("../img/bg-map-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -300px;
  }

  .contacts__map-marker {
    position: absolute;
    bottom: 202px;
    left: 462px;
  }

  @media @retina {
    .contacts__interactive-map {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }
  }
}
