.article {
  display: flex;
  flex-direction: column;
}

.article__title { // *
  color: #000000;
}

.article__description {
  color: #283645;
  font-weight: 400;
}

.article__link {
  color: #d22856;
  font-weight: 400;
}

// Mobile
@media (min-width: @mobile-width) and (max-width: @tablet-width - 1) {
  .article {
    display: none; // Сделать невидимость
  }
}

// Mobile + Tablet
@media (min-width: @mobile-width) and (max-width: @desktop-width - 1) {
  .article__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
  }

  .article__description {
    font-size: 14px;
    line-height: 24px;
  }
}

// Tablet
@media (min-width: @tablet-width) and (max-width: @desktop-width - 1) {
  .article {
    width: 530px;
    padding-top: 100px;
    background-image: url("../img/icon-timer.svg");
    background-repeat: no-repeat; // Временно
    background-position: 20px 60px; // center ??
    height: 335px;
    background-color: #ffffff;
  }

  .article__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 10px;
  }

  .article__description {
    font-size: 14px;
    line-height: 24px;
    width: 300px;
    margin-bottom: 10px;
  }

  .article__link {
    font-size: 14px;
    line-height: 24px;
  }
}

// Tablet +
@media (min-width: @tablet-width) {
  .article {
    padding-left: 400px;
    text-align: left;
  }
}

// Desktop
@media (min-width: @desktop-width) {
  .article {
    background-color: #f2f2f2;
    height: 485px;
    background-image: url("../img/icon-timer.svg");
    background-repeat: no-repeat; // Временно
    background-position: 20px 70px; // center ??
  }

  .article__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    margin-top: 160px;
    margin-bottom: 20px;
  }

  .article__description {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .article__link {
    font-size: 18px;
    line-height: 30px;
  }
}
