.article {
  position: relative;
}

.article__image {
  position: absolute;
  fill: #dedede;
}

.article__image-text {
  position: absolute;
  font-weight: 700;
  color: #d22856;
}

.article__image-text::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
}

.article__title {
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 700;
}

.article__description {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.article__link {
  font-weight: 400;
  color: #d22856;
}

@media @mobile-only {
  .article {
    display: none;
  }
}

@media @tablet-only {
  .article {
    width: @tablet-width;
  }

  .article__image {
    width: 240px;
    top: 23px;
    left: 20px;
  }

  .article__image-text {
    font-size: 96px;
    line-height: 150px;
    top: 134px;
    left: 85px;
  }

  .article__image-text::before {
    width: 175px;
    height: 175px;
    border: 14px solid #d22856;
    top: -21px;
    left: -46px;
  }

  .article__title {
    line-height: 36px;
    margin-left: 330px;
    padding-top: 95px;
    padding-right: 150px;
    margin-bottom: 10px;
  }

  .article__description {
    font-size: 14px;
    line-height: 24px;
    margin-left: 330px;
    padding-right: 30px;
    margin-bottom: 10px;
  }

  .article__link {
    font-size: 14px;
    line-height: 24px;
    margin-left: 330px;
  }
}

@media @desktop-only {
  .article {
    width: @desktop-width;
    padding-bottom: 113px;
    background-color: #f2f2f2;
  }

  .article__image {
    top: 66px;
    left: 10px;
  }

  .article__image-text {
    font-size: 120px;
    line-height: 187px;
    top: 161px;
    left: 90px;
  }

  .article__image-text::before {
    width: 220px;
    height: 220px;
    border: 17px solid #d22856;
    top: -26px;
    left: -58px;
  }

  .article__title {
    line-height: 30px;
    padding-top: 160px;
    margin-left: 376px;
    margin-bottom: 24px;
  }

  .article__description {
    font-size: 18px;
    line-height: 30px;
    margin-left: 376px;
    padding-right: 30px;
    margin-bottom: 31px;
  }

  .article__link {
    font-size: 18px;
    line-height: 30px;
    margin-left: 376px;
  }
}
