html {
  background-color: #fefefe;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: #ffffff;
  color: @dark-blue;
  font-size: 14px;
  line-height: 24px;
  margin: 0 auto;
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  margin-left: auto;
  margin-right: auto;

  @media @mobile-only {
    width: @mobile-width;
  }

  @media @tablet-only {
    width: @tablet-width;
  }

  @media @desktop-only {
    width: @desktop-width;
  }
}
