.download-app {

  background-color: #1d2631;
  color: #ffffff;
  text-align: center;

  &__button {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-decoration: none;
  }

  &__list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
  }

  // &__item {
  //   //
  // }

  &__item-link {
    color: #ffffff;
    text-decoration: none;

    // &--ios {
    //   //
    // }

    // &--android {
    //   //
    // }

    // &--windows {
    //   //
    // }
  }

  &__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
  }
}
