.features {
  text-align: center;
}

.features__text { // *
  background-color: #ffffff;
  color: #283645;
  font-weight: 300;
  // line-height: 18px; В макете "Auto"
}

.features__list { // *
  display: flex;
  background-color: #f2f2f2;
  list-style: none;
}

.features__title { // *
  color: #000000;
}

.features__description {
  color: #283645;
  font-weight: 400;
}

// Mobile
@media (min-width: @mobile-width) and (max-width: @tablet-width - 1) {
  .features__text {
    font-size: 24px;
  }

  .features__list {
    // margin-top: 40px; // Для разделителя
    padding-bottom: 280px; // Для фонового изображения
  }
}

// Mobile + Tablet
@media (min-width: @mobile-width) and (max-width: @desktop-width - 1) {
  .features__list {
    flex-direction: column;
  }

  .features__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
  }

  .features__description {
    font-size: 14px;
    line-height: 24px;
  }
}

// Tablet
@media (min-width: @tablet-width) and (max-width: @desktop-width - 1) {
  .features__text {
    font-size: 40px;
  }

  .features__list {
    padding-left: 400px;
    width: 330px;
    text-align: left;
  }
}

// Tablet +
// @media (min-width: @tablet-width) {

// }

// Desktop
@media (min-width: @desktop-width) {
  .features__text {
    font-size: 40px;
  }

  .features__list {
    justify-content: space-around;
  }

  .features__item {
    margin-top: 350px; // для фоновых изображений
  }

  .features__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
  }

  .features__description {
    font-size: 18px;
    line-height: 30px;
  }
}
