// .features {}

.features__text {
  margin-top: 0; // reset-size
  margin-bottom: 0; // reset-size
  font-weight: 300;
  text-align: center;
  //  &--short {}
}

.features__image {
  background-color: #f2f2f2;
}

.features__image polygon {
  fill: #ffffff;
}

.features__container {
  background-color: #f2f2f2;
  background-repeat: no-repeat;
}

.features__list {
  list-style: none;
  margin-top: 0; // ++ reset-size
  margin-bottom: 0;
  padding-left: 0; // -- reset-size
}

// .features__item {
//   &--screen-1 {}
// }

.features__title {
  margin-top: 0; // reset-size
  margin-bottom: 0; // reset-size
}

.features__description {
  margin-top: 0; // reset-size
  margin-bottom: 0; // reset-size
}

@media @mobile-only {
  .features {
    width: 320px;
  }

  .features__text {
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    margin-top: 42px;

    &--short {
      margin-top: 30px;
      margin-bottom: -30px; // TODO
    }
  }

  // .features__image {}

  .features__container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 52px; // TODO
    padding-bottom: 280px;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-position: center bottom -42px;
  }

  // .features__list {}

  .features__item {
    margin-bottom: 40px;
    // &--screen-1 {}
  }

  .features__title {
    margin-top: -7px; // TODO
    margin-bottom: 10px;
  }

  // .features__description {}

  @media @retina {
    .features__list {
      background-image: url("../img/iphone-screen-mobile@2x.jpg");
    }
  }
}

@media @mobile-plus-tablet {
  .features__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
  }

  .features__description {
    font-size: 14px;
    line-height: 24px;
  }
}

@media @tablet-only {
  .features {
    margin-top: 44px;
    width: @tablet-width;
  }

  .features__text {
    font-size: 40px;
    line-height: 48px;

    &--short {
      width: 400px;
      padding-left: 130px;
    }
  }

  // .features__image {}

  // .features__image polygon {}

  .features__container {
    padding-top: 22px;
    padding-right: 23px;
    padding-bottom: 5px;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-position: 20px bottom;
  }

  .features__list {
    padding-left: 330px;
  }

  .features__item {
    padding-bottom: 35px;
    // &--screen-1 {}
  }

  .features__title {
    padding-bottom: 12px;
  }

  // .features__description {}

  @media @retina {
    .features__list {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
    }
  }
}

// @media @tablet-plus-desktop {}

@media @desktop-only {
  .features {
    margin-top: 70px;
    width: @desktop-width;
  }

  .features__text {
    font-size: 50px;
    line-height: 59px;

    &--short {
      width: 500px;
      padding-left: 350px;
    }
  }

  // .features__div-image {
  //   z-index: -1;
  //   position: relative;
  // }

  // .features__image {}

  // .features__image polygon {}

  .features__container {
    margin-top: 80px;
  }

  .features__div-list {
    z-index: 999;
    position: relative;
  }

  .features__list {
    display: flex;
    justify-content: space-around;
    padding-left: 105px;
    padding-right: 125px;
    text-align: center;
  }

  .features__item {
    padding-top: 254px;
    width: 240px;
    background-repeat: no-repeat;
    background-position: center top -105px; // TODO

    &--screen-1 {
      background-image: url("../img/iphone-screen-1-desktop@1x.png");
    }

    &--screen-2 {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");
    }

    &--screen-3 {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");
    }
  }

  .features__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 24px;
  }

  .features__description {
    font-size: 18px;
    line-height: 30px;
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    .features__item {
      &--screen-1 {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
      }

      &--screen-2 {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
      }

      &--screen-3 {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
      }
    }
  }
}
