.footer {
  background-color: #ffffff;
  text-align: center;

  &__logo-pink {
    //
  }

  &__social {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
  }

  &__text {
    color: #283645;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }

  &__academy-link {
    //
  }

  &__academy-image {
    //
  }

}
