.footer__text {
  margin-top: 0;
  margin-bottom: 0;
}

@media @mobile-only {
  .footer {
    width: @mobile-width;

    &--hidden {
      display: none;
    }
  }

  .footer__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .footer__logo-pink {
    display: flex;

    &--desktop {
      display: none;
    }
  }

  .footer__logo-pink:hover .footer__logo-pink--text,
  .footer__logo-pink:focus .footer__logo-pink--text,
  .footer__logo-pink:hover .footer__logo-pink--glasses,
  .footer__logo-pink:focus .footer__logo-pink--glasses {
    fill: #d22856;
  }

  .footer__logo-pink:active .footer__logo-pink--text {
    fill: @dark-blue;
    opacity: 0.3;
  }

  .footer__logo-pink:active .footer__logo-pink--glasses {
    opacity: 0.3;
  }

  .footer__social {
    list-style: none;
    margin-bottom: 42px;
    margin-top: 40px;
    padding-left: 11px;
  }

  .footer__text {
    position: relative;
    display: flex;
    color: @dark-blue;
    font-weight: 400;
    margin-left: -42px;
  }

  .footer__academy-link {
    position: absolute;
    top: -3px;
    right: -42px;
    fill: #d22856;
  }

  .footer__academy-link:hover,
  .footer__academy-link:focus {
    fill: @dark-blue;
  }

  .footer__academy-link:active {
    opacity: 0.3;
  }
}

@media @tablet-only {
  .footer {
    width: @tablet-width;
  }

  .footer__container {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 29px;
    padding-bottom: 24px;
    padding-right: 62px;
  }

  .footer__logo-pink {
    display: flex;

    &--desktop {
      display: none;
    }
  }

  .footer__logo-pink:hover .footer__logo-pink--text,
  .footer__logo-pink:focus .footer__logo-pink--text,
  .footer__logo-pink:hover .footer__logo-pink--glasses,
  .footer__logo-pink:focus .footer__logo-pink--glasses {
    fill: #d22856;
  }

  .footer__logo-pink:active .footer__logo-pink--text {
    fill: @dark-blue;
    opacity: 0.3;
  }

  .footer__logo-pink:active .footer__logo-pink--glasses {
    opacity: 0.3;
  }

  .footer__social {
    list-style: none;
    margin-bottom: 13px;
    margin-top: 2px;
    padding-right: 45px;
  }

  .footer__text {
    position: relative;
    display: flex;
    color: @dark-blue;
    font-weight: 400;
    line-height: 18px;
    margin-top: 19px;
  }

  .footer__academy-link {
    position: absolute;
    top: -6px;
    right: -42px;
    fill: #d22856;
  }


  .footer__academy-link:hover,
  .footer__academy-link:focus {
    fill: @dark-blue;
  }

  .footer__academy-link:active {
    opacity: 0.3;
  }
}

@media @desktop-only {
  .footer {
    width: @desktop-width;
  }

  .footer__container {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-top: 58px;
    padding-bottom: 58px;
    padding-right: 51px;
  }

  .footer__logo-pink {
    display: flex;

    &--mobile {
      display: none;
    }
  }

  .footer__logo-pink:hover .footer__logo-pink--text,
  .footer__logo-pink:focus .footer__logo-pink--text,
  .footer__logo-pink:hover .footer__logo-pink--glasses,
  .footer__logo-pink:focus .footer__logo-pink--glasses {
    fill: #d22856;
  }

  .footer__logo-pink:active .footer__logo-pink--text {
    fill: @dark-blue;
    opacity: 0.3;
  }

  .footer__logo-pink:active .footer__logo-pink--glasses {
    opacity: 0.3;
  }

  .footer__social {
    list-style: none;
    margin-top: 4px;
    padding-right: 19px;
  }

  .footer__text {
    position: relative;
    display: flex;
    color: @dark-blue;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 19px;
  }

  .footer__academy-link {
    position: absolute;
    top: -4px;
    right: -41px;
    fill: #d22856;
  }

  .footer__academy-link:hover,
  .footer__academy-link:focus {
    fill: @dark-blue;
  }

  .footer__academy-link:active {
    opacity: 0.3;
  }
}
