.photos-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.photos-list__item {
  position: relative;
  background-color: #f2f2f2;
  text-align: left;
  margin-left: 20px;
}

.photos-list__image {
  display: block;
}

.photos-list__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
}

.photos-list__author {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: none;
}

.photos-list__description {
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.photos-list__button-like {
  padding: 0;
  position: absolute;
  display: block;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.photos-list__button-like path {
  fill: #d22856;
}

.photos-list__stats {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #d22856;
  text-transform: uppercase;
}

@media @mobile-only {
  .photos-list {
    width: @mobile-width;
    margin-top: 20px;
  }

  .photos-list__item {
    margin-right: 20px;
    padding-left: 18px;
    padding-right: 20px;
    margin-bottom: 20px;
  }

  .photos-list__image {
    margin-left: -18px;
  }

  .photos-list__title {
    margin-top: 19px;
  }

  .photos-list__description {
    margin-bottom: 8px;
  }

  .photos-list__button-like {
    bottom: 23px;
  }

  .photos-list__stats {
    padding-left: 30px;
    padding-bottom: 20px;
  }
}

@media @tablet-only {
  .photos-list {
    width: @tablet-width;
    margin-top: 50px;
  }

  .photos-list__item {
    min-height: 410px;
    margin-bottom: 20px;
  }

  .photos-list__image {
    height: 300px;
  }
}

@media @tablet-plus-desktop {
  .photos-list {
    display: flex;
    flex-wrap: wrap;
  }

  .photos-list__item {
    width: 300px;
    padding-bottom: 45px;
  }

  .photos-list__image {
    width: 300px;
  }

  .photos-list__title {
    margin-top: 24px;
    padding-left: 26px;
  }

  .photos-list__description {
    padding-left: 27px;
    padding-right: 27px;
    margin-bottom: 13px;
  }

  .photos-list__button-like {
    bottom: 26px;
    right: 33px;
  }

  .photos-list__stats {
    position: absolute;
    left: 26px;
    bottom: 22px;
  }
}

@media @desktop-only {
  .photos-list {
    width: @desktop-width;
    margin-top: 54px;
    margin-left: 110px;
  }

  .photos-list__item {
    min-height: 510px;
    margin-bottom: 54px;
  }

  .photos-list__image {
    height: 400px;
  }
}
