.photos-list {
  margin-top: 0; //reset-size
  margin-bottom: 0; //reset-size
  padding-left: 0; //reset-size
}

.photos-list__item {
  position: relative;
}

// .photos-list__link {}

// .photos-list__image {}

.photos-list__container {
  position: absolute; // TODO
  background-color: #f2f2f2;
  text-align: left;
}

.photos-list__title {
  margin-top: 0; // reset-size
  margin-bottom: 0; // reset-size
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
}

.photos-list__author {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: none;
}

.photos-list__description {
  margin-top: 0; // reset-size
  margin-bottom: 0; // reset-size
  position: relative;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.photos-list__button-like {
  padding: 0; //reset-size
  position: absolute;
  display: block;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.photos-list__button-like path {
  fill: #d22856;
}

.photos-list__stats {
  margin-top: 0; // reset-size
  margin-bottom: 0; // reset-size
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #d22856;
  text-transform: uppercase;
}

@media @mobile-only {
  .photos-list {
    width: @mobile-width;
    padding-top: 20px;
  }

  .photos-list__item {
    margin-bottom: 156px;
  }

  // .photos-list__link {}

  // .photos-list__image {}

  .photos-list__container {
    width: 240px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    top: 180px;
  }

  .photos-list__title {
    margin-top: 18px;
  }

  // .photos-list__author {}

  .photos-list__description {
    margin-bottom: 8px;
  }

  .photos-list__button-like {
    bottom: 23px;
  }

  .photos-list__stats {
    padding-left: 30px;
    padding-bottom: 20px;
  }
}

// @media @mobile-plus-tablet {}

@media @tablet-only {
  .photos-list {
    width: @tablet-width;
    display: flex;
    flex-wrap: wrap;
  }

  .photos-list__item {
    margin-bottom: 168px;
    margin-left: 20px;
  }

  // .photos-list__link {}

  .photos-list__image {
    width: 300px;
    height: 300px;
  }

  .photos-list__container {
    width: 255px;
    padding-left: 26px;
    padding-right: 20px;
    top: 300px;
    height: 155px;
  }

  .photos-list__title {
    margin-top: 24px;
  }

  // .photos-list__author {}

  // .photos-list__description {}

  .photos-list__button-like {
    bottom: 26px;
    right: 33px;
  }

  // .photos-list__stats {}
}

// @media @tablet-plus-desktop {}

@media @desktop-only {
  .photos-list {
    width: @desktop-width;
    display: flex;
    flex-wrap: wrap;
    margin-left: 130px;
  }

  .photos-list__item {
    margin-bottom: 202px;
    margin-right: 20px;
  }

  // .photos-list__link {}

  .photos-list__image {
    width: 300px;
    height: 400px;
  }

  .photos-list__container {
    width: 254px;
    padding-left: 26px;
    padding-right: 20px;
    top: 400px;
    height: 155px;
  }

  .photos-list__title {
    margin-top: 24px;
  }

  // .photos-list__author {}

  // .photos-list__description {}

  .photos-list__button-like {
    bottom: 26px;
    right: 33px;
  }

  // .photos-list__stats {}
}
