.site-header {
  display: inline-block;
  position: relative;
  background-color: @background-gray;
}

.site-header__logo {
  display: block;
  box-sizing: border-box;
  overflow: hidden; // Не уверен что работает как надо
}

// .site-header__logo-link {
//   &:hover path,
//   &:focus path {
//     fill: #d22856;
//   }

//   &:active path {
//     fill: @background-gray;
//     opacity: 0.3;
//   }
// }

// .site-header__logo-image {};

@media @mobile-only {
  .site-header {
    width: @mobile-width;
  }

  .site-header__logo {
    padding-top: 22px;
    height: 66px;
  }

  // .site-header__logo-link {};

  .site-header__logo-image {
    width: 74.426px;
    height: 22.859px;
  }
}

@media @mobile-plus-tablet {
  // .site-header {};

  .site-header__logo {
    padding-left: 20px;
  }
}

@media @tablet-only {
  .site-header {
    width: @tablet-width;
  }

  // .site-header__logo {};

  // .site-header__logo-link {};

  // .site-header__logo-image {};
}

@media @tablet-plus-desktop {
  // .site-header {};

  .site-header__logo {
    padding-top: 27px;
    height: 110px;
  }

  // .site-header__logo-link {};

  .site-header__logo-image {
    width: 146.3px;
    height: 40.375px;
  }
}

@media @desktop-only {
  .site-header {
    width: @desktop-width;
    display: flex;
  }

  .site-header__logo {
    padding-left: 130px;
  }

  // .site-header__logo-link {};

  // .site-header__logo-image {};
}
