.site-nav__list {
  display: flex;
  list-style: none;
}

.site-nav__link {
  text-decoration: none;
  color: #ffffff;

  &:hover,
  &:focus {
    color: #d22856;
  }

  &:active {
    color: #ffffff;
    opacity: 0.3;
  }
}

// Mobile
@media (min-width: @mobile-width) and (max-width: @tablet-width - 1) {
  .site-nav--opened .site-nav__toggle {
    top: 20px;
  }

  .site-nav--closed .site-nav__toggle {
    top: 20px;
  }
}

// Mobile + Tablet
@media (max-width: @desktop-width - 1) {
  .site-nav--opened .site-nav__toggle {
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    right: 20px;
    background-image: url("../img/icon-menu-cross.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  .site-nav--closed .site-nav__toggle {
    position: absolute;
    display: block;
    width: 50px;
    height: 24px;
    right: 20px;
    background-image: url("../img/icon-menu-burger.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  .site-nav__list {
    text-align: center;
    flex-direction: column;
  }

  .site-nav--closed .site-nav__list {
    display: none;
  }

  .site-nav__item {
    border-top: 1px solid #000000; // В макете текстура, а не цвет
    box-shadow: inset 0 1px 0 #485461;
  }

  .site-nav__item:last-child {
    border-bottom: 1px solid #000000;
  }

  .site-nav__link {
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
  }
}

// Tablet
@media (min-width: @tablet-width) and (max-width: @desktop-width - 1) {
  .site-nav--opened .site-nav__toggle {
    top: 43px;
  }

  .site-nav--closed .site-nav__toggle {
    top: 43px;
  }
}

// Tablet +
// @media (min-width: @tablet-width) {

// }

// Desktop
@media (min-width: @desktop-width) {
  .site-nav {
    padding-left: 170px;
    padding-right: 130px;
    width: 100%;
  }

  .site-nav__toggle {
    display: none;
  }

  .site-nav__list {
    display: flex;
    justify-content: space-between;
  }

  .site-nav__item {
    display: flex;
  }

  .site-nav__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-transform: capitalize;
    padding-bottom: 10px;

    &--active {
      border-bottom: 2px solid #ffffff;
    }
  }
}
