// Mobile
// @media (min-width: @mobile-width) and (max-width: @tablet-width - 1) {

// }

// Mobile + Tablet
// @media (min-width: @mobile-width) and (max-width: @desktop-width - 1) {

// }

// Tablet
// @media (min-width: @tablet-width) and (max-width: @desktop-width - 1) {

// }

// Tablet +
@media (min-width: @tablet-width) {
  .social-list {
    display: flex;
  }

  .social-list__link {
    color: #000000;
    text-decoration: none;
  }

  // &--twitter {
  //   //
  // }

  // &--facebook {
  //   //
  // }

  // &--youtube {
  //   //
  // }
}

// Desktop
// @media (min-width: @desktop-width) {

// }
