@dark-blue: #283645;
@background-gray: rgba(0, 0, 0, 0.3);
@color-pink: #d22856;
@color-pink-opacity: rgba(210, 40, 86, 0.3);
@mobile-width: 320px;
@tablet-width: 660px;
@desktop-width: 960px;
@mobile-only: ~"(max-width: 659px)";
@mobile-plus-tablet: ~"(min-width: 320px) and (max-width: 959px)";
@tablet-only: ~"(min-width: 660px) and (max-width: 959px)";
@tablet-plus-desktop: ~"(min-width: 660px)";
@desktop-only: ~"(min-width: 960px)";

.retina(@rules) {
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        @rules();
    }
}
